<h1> Join Fwitter Today! </h1>
<form method="post" action="/signup">

   <input type="text" name="username" placeholder="Username"><br></br>
   <input type="text" name="email" placeholder="Email"><br></br>
   <input type="text" name="password" placeholder="Password"><br></br>

   <input type="submit" value="Sign Up">
    
   <p>By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.<br>
    Others will be able to find you by email when provided.</p>
</form>
